!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title Sample Deployment
      :css
        body {
          color: #ffffff;
          background-color: #A52A2A;
          font-family: Arial, sans-serif;
          font-size: 14px;
        }
        
        h1 {
          font-size: 500%;
          font-weight: normal;
          margin-bottom: 0;
        }
        
        h2 {
          font-size: 200%;
          font-weight: normal;
          margin-bottom: 0;
        }
    %body
    %div{:align => "center"}
      %h1 DevOps Demo 18th August'17 
      %h2 Builds an application from github using jenkins , deploys onto a stage environment, performs URL/api testing with Blazemeter and upon approval pushes the artifact into prod environment.
